<?xml version="1.0" encoding="UTF-8"?>
<beans  
    xmlns="http://www.springframework.org/schema/beans" 
    xmlns:context="http://www.springframework.org/schema/context"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:p="http://www.springframework.org/schema/p"  
    xmlns:c="http://www.springframework.org/schema/c"  
    xsi:schemaLocation="
    		   http://www.springframework.org/schema/beans 
               http://www.springframework.org/schema/beans/spring-beans.xsd
               http://www.springframework.org/schema/context 
               http://www.springframework.org/schema/context/spring-context.xsd">   
  
  	<bean id="addressbean" class="com.java.springCore.Address">  
		<property name="state" value="punjab"></property>  
		<property name="city" value="patiala"></property>  
		<property name="pincode" value="147001"></property>  
	</bean>  
  
	<bean id="studentbean" class="com.java.springCore.Student">  
	<property name="name" value="Vimal Jaiswal"></property>  
	<property name="roll_no" value="18804"></property>  
	<property name="address"  ref="addressbean"></property>  
	</bean>  
  
</beans>  